apiVersion: apps/v1
kind: Deployment
metadata:
  name: FanzProtect
  labels:
    app: FanzProtect
    component: static
    system: fanz
spec:
  replicas: 2
  selector:
    matchLabels:
      app: FanzProtect
  template:
    metadata:
      labels:
        app: FanzProtect
        component: static
        system: fanz
    spec:
      containers:
        - name: FanzProtect
          image: ghcr.io/fanzceo/FanzProtect:latest
          ports:
            - containerPort: 80
              name: http
          env: []
          livenessProbe:
            httpGet:
              path: /health
              port: http
            initialDelaySeconds: 30
            periodSeconds: 10
          readinessProbe:
            httpGet:
              path: /health
              port: http
            initialDelaySeconds: 5
            periodSeconds: 5
          resources:
            requests:
              memory: 128Mi
              cpu: 100m
            limits:
              memory: 512Mi
              cpu: 500m
