openapi: 3.1.0
info:
  title: FanzFinance API
  version: 0.1.0
  description: Core money movement, ledger, payouts, and tax documents.
servers:
  - url: https://finance.fanzunlimited.com
paths:
  /v1/payment-intents:
    post:
      summary: Create payment intent
      tags: [Payments]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                order_id: { type: string, format: uuid }
                amount: { type: integer }
                currency: { type: string }
              required: [order_id, amount, currency]
      responses:
        "201":
          description: Intent created
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PaymentIntent"
  /v1/payouts:
    post:
      summary: Start payout to creator
      tags: [Payouts]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                creator_id: { type: string, format: uuid }
                amount: { type: integer }
                method: { type: string, enum: [ach, wire] }
              required: [creator_id, amount, method]
      responses:
        "202": { description: Payout enqueued }
  /v1/webhooks/payment:
    post:
      summary: Payment processor webhook (Stripe/Adyen/Checkout.com)
      tags: [Webhooks]
      responses:
        "204": { description: Accepted }
components:
  schemas:
    PaymentIntent:
      type: object
      properties:
        id: { type: string }
        status: { type: string, enum: [requires_action, authorized, settled, canceled, failed] }
        client_secret: { type: string }
