apiVersion: v1
kind: Service
metadata:
  name: SouthernFanz-service
  namespace: fanz-ecosystem
  labels:
    app: SouthernFanz
spec:
  type: ClusterIP
  ports:
  - port: 80
    targetPort: 5000
    protocol: TCP
    name: http
  - port: 3001
    targetPort: 3001
    protocol: TCP
    name: websocket
  selector:
    app: SouthernFanz
